

h1,
h2,
h3,
h4 {
  font-family: black;
}


buttons {
    color:aquamarine;
};

* {background: none}

/* @keyframes example {
    0% {color:blue; left: 0;};
    33% {color: orange; left: 33vw;}
    66% {color: green; left: 66vw;}
    100% {color:purple; left: 100vw;}
    } */

h1 {
    text-align: center;
    color: blueviolet;
    
}
h2 {
    color: green;
    margin-left: 10px;
}
.form {
    /* display: grid; */
    border: 2px solid blue;
    width: 100%;
    padding: 25px;
    border-color: aquamarine;
}

@media(min-width: 600px) {
     li {background-color: rgb(179, 245, 203);
}
};



/* @media(max-width: 800px) {
    grid-template-columns: 1fr;
}; */